[Unit]
Description=Update dynamic DNS
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ddns
User=nobody
